{% extends "layout.html" %}
{% block body %}



<script type="text/javascript">
    
    window.onload = function() {
//    var offset=-4;
//    var d = new Date();
//    var n = d.getUTCHours();
//    var m = d.getUTCMinutes();
//    console.log(n+offset, m);
        console.log(getCBIHour() );
    
};
    
function getCBIHour(){
    var offset=-4;
    var d = new Date();
    var n = d.getUTCHours();
    return n;
};
    
</script>

{% endblock %}

if its nine and sent is false -> send, sent is true
if its 10 and sent is true -> sent dalse
